[% extends "base.html" %]

[% block title %]Rendre[% endblock %]

[% block content %]
<h1>Rendre</h1>
<p>Entre l'ISBN du livre ou le numéro du CD/DVD réservé.</p>

[% if erreur %]
<div class="message-erreur">[[ erreur ]]</div>
[% endif %]
[% if message %]
<div class="message-valide">[[ message ]]</div>
[% endif %]

<div class="formulaire">
    <form method="POST" action="[[ url_for('rendre') ]]">
        <div class="grille-formulaire">
            <div class="champ-formulaire grand">
                <label for="isbn">ISBN du livre</label>
                <input type="text" id="isbn" name="isbn">
            </div>
            <div class="champ-formulaire grand">
                <label for="numero_cd_dvd">Numéro du CD/DVD</label>
                <input type="number" id="numero_cd_dvd" name="numero_cd_dvd" min="1">
            </div>
            <div class="champ-formulaire grand">
                <button type="submit">Valider le retour</button>
            </div>
        </div>
    </form>
</div>
[% endblock %]
